<div class="container-fluid">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-12">
      <div class="row" style="margin-top: 50px">
        <div class="col-md-2 col-md-offset-1">
          <button type="button" class="btn btn-fresh btn-block btn-lg" [routerLink]="['/mandate']">Mandate <span class="glyphicon glyphicon-calendar"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg">Aufträge <span class="glyphicon glyphicon-briefcase"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg">Offerten <span class="glyphicon glyphicon-inbox"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg" [routerLink]="['/mitarbeiter']">Mitarbeiter <span class="glyphicon glyphicon-user"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg" [routerLink]="['/time']">Zeiterfassung <span class="glyphicon glyphicon-time"></span></button>
        </div>
      </div>
      <div class="row" style="margin-top: 50px">
        <div class="col-md-2 col-md-offset-1">
          <button type="button" class="btn btn-fresh btn-block btn-lg">Kunden <span class="glyphicon glyphicon-king"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg">Aufgaben <span class="glyphicon glyphicon-list-alt"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg" [routerLink]="['/dispo']">Disposition <span class="glyphicon glyphicon-road"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg">Abrechnung <span class="glyphicon glyphicon-piggy-bank"></span></button>
        </div>
        <div class="col-md-2">
          <button type="button" class="btn btn-fresh btn-block btn-lg">Statistik <span class="glyphicon glyphicon-stats"></span></button>
        </div>
      </div>
    </div>
  </div>
  <hr style="margin-top: 100px">
  <div class="row" style="margin-top: 100px">
    <div class="col-md-3" align="center">
          <button type="button" class="btn btn-fresh btn-circle btn-xxl">Neues Mandat</button>
    </div>
    <div class="col-md-3" align="center">
          <button type="button" class="btn btn-fresh btn-circle btn-xxl">Neuer Auftrag</button>
    </div>
    <div class="col-md-3" align="center">
          <button type="button" class="btn btn-fresh btn-circle btn-xxl">Neue Offerte</button>
    </div>
    <div class="col-md-3" align="center">
          <button type="button" class="btn btn-fresh btn-circle btn-xxl">Tour planen</button>
    </div>
  </div>
</div>